<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Final masterchef Brasil 2018 5ºtemporada</span>
  </div>
</nav>

<img src="https://i.ytimg.com/vi/yeNCEJlxxCc/maxresdefault.jpg">

<p>Grande final da temporada!</p>
<p>Masterchef 2018</p>
<p>#TroféumelhorcozinheirodoBrasil</p>
<p>#Quemganha?</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/oNZMZhw98E0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
