<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Epísidio histórico</span>
  </div>
</nav>

<img src="https://pubimg.band.uol.com.br/files/43d55af237093d615500.jpg">

<p>Quando Jacquin descobriu que o freezer de carnes do estabelecimento passava 12 horas desligado por dia para economizar energia, o proprietário logo colocou a culpa da bagunça em um de seus funcionários e começou a inventar histórias para justificar suas atitudes. O apresentador de Pesadelo não gostou nada disso: “Você é cabeça dura. Parece que é o dono da verdade, que sabe de tudo. Se mais uma vez me responder assim, eu vou embora”, alertou. </p>
<p>ritos e demonstrações de fúria preencheram o salão do restaurante Pé de Fava, que deveria ser um local de tranquilidade e lazer para os clientes. Os funcionários, inclusive, reclamavam da falta de respeito do patrão e dos abusos psicológicos. Após contar quanto tempo o proprietário conseguiria ficar sem gritar (cerca de 45 segundos), Jacquin precisou tomar uma decisão drástica e o colocou para fora do local para refletir. </p>
<p>Um bom administrador, fica de olho em todas as etapas do serviço que oferece, mas não se envolve naquilo que não tem habilidade. Durante o episódio, várias vezes Jacquin precisou retirar Fábio da cozinha para deixar a equipe trabalhar com mais tranquilidade e sem tanta cobrança. Para o francês, saber a hora de dar uma pausa e deixar tudo acontecer com naturalidade é essencial.</p>
<p>Por trás do meme há um nordestino nascido em Viçosa, no Alagoas. Como tantos outros, largou tudo para tentar a sorte em São Paulo. Durante dois anos, morou em um apartamento pequeno com a mulher, Sâmia Lima. Os dois vieram juntos do Nordeste para morar com o sogro em um pequeno apartamento. Viviam apertados e dormiam até na cozinha. Com o tempo e emprego, os dois conseguiram um apartamento popular em uma das maiores favelas de Guarulhos.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Kzd_LCP2m_c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
