<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Eric Jacquin</span>
  </div>
</nav>

<img src="https://th.bing.com/th/id/R.71e1c256af388e018c086d2cf95af172?rik=HJbAkaXUbNn2iQ&riu=http%3a%2f%2f2.bp.blogspot.com%2f_wrplKFgsfMU%2fTNmB3_SuxGI%2fAAAAAAAABhA%2fXoJ8ZTVt72w%2fs1600%2fChef%2b%2bErick%2bJacquin.jpg&ehk=A8yqlm%2ba42t1Yc9Mv%2fb3ElpdZwMKvWjdBThFhJq%2fcwg%3d&risl=&pid=ImgRaw&r=0">

<p>Érick nasceu em 1964, em Saint-Amand-Montrond, uma comuna francesa na região administrativa do Centro, no departamento Cher e com quatro anos se mudou para Dun-sur-Auron, uma pequena e tradicional cidade do departamento de Cher, situado no centro da França próximo ao Vale do Loire, região vinícola e também dos castelos onde residiam os reis.</p>
<p>Essa região tem algumas especialidades gastronômicas, mas não é a alta gastronomia o que predomina. Por essa razão é que Érick, depois de cursar a École Hôtelière Saint Amand Monrond, decidiu trocar sua cidade natal por Paris - capital dos grandes restaurantes e onde se encontram os maiores Chefs de Cozinha</p>
<p>Na vida pessoal, se casou com Rosangela Menezes em 2015. Fruto do casamento, tem filhos gêmeos. A data de nascimento é 23 de dezembro de 2018. Os filhos se chamam Antoine e Elise Jacquin.</p>
<p>LE BIFE

  Com foco nas carnes, o cardápio do restaurante sugere dois cortes: entrecôte e filé-mignon. Os clientes podem incrementá-los com uma das três opções de molho (béarnaise, mostarda ou pimenta) e se servir das guarnições que circulam em rodízio pelo salão. De sobremesa, aposte no petit gâteau (que fez a fama do chef).</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/x8AcaJ5mucE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
