<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Pergunta Nº01</span>
    </div>
  </nav>
<div CLASS="container"> 
    <img src="https://th.bing.com/th/id/R.71e1c256af388e018c086d2cf95af172?rik=HJbAkaXUbNn2iQ&riu=http%3a%2f%2f2.bp.blogspot.com%2f_wrplKFgsfMU%2fTNmB3_SuxGI%2fAAAAAAAABhA%2fXoJ8ZTVt72w%2fs1600%2fChef%2b%2bErick%2bJacquin.jpg&ehk=A8yqlm%2ba42t1Yc9Mv%2fb3ElpdZwMKvWjdBThFhJq%2fcwg%3d&risl=&pid=ImgRaw&r=0">
    <p>Qual é a nacionalidade de Eric Jacquin?</p>

    <h4>OPÇÕES:</h4>

    <p>A)Francessa</p>
    <p>B)Italiana</p>
    <p>C)Portuguesa</p>
    <p>D)Boliviana</p>
</div>
  

  
