<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Chefe, desculpa</span>
  </div>
</nav>

<img src="https://th.bing.com/th/id/R.1f59635679be7f99cda100faa6fb95f7?rik=WT9FjAcpVqw%2f1w&pid=ImgRaw&r=0">

<p>Desde sua primeira participação no #MasterChefBR, Fábio Nunes demonstrou ter uma personalidade forte e (muito!) decidida. Por esse motivo, não faltaram momentos inesquecíveis </p>
<p>protagonizados pelo cozinheiro, que já chegou a entrar em conflito com o chef Henrique Fogaça </p>
<p>durante uma prova em equipes! Vamos recordar esse momento?</p>
<p>#MasterChef; #BR; #Desculpa, chef</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/Es6s9QtWJlg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
