<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Henrique Forgaça</span>
  </div>
</nav>

<img src="https://th.bing.com/th/id/OIP.uHRAiOFpmC9096PWXZ6I9QHaE6?pid=ImgDet&rs=1">

<p>Henrique Aranha Fogaça (Piracicaba, 1º de abril de 1974) é um chef de cozinha, empresário, skatista e cantor brasileiro, conhecido por ser um dos jurados da versão brasileira do talent show culinário MasterChef, transmitido pela Band. Além disso, Fogaça é vocalista e compositor da banda de hardcore Oitão</p>
<p>Em 2016, Fogaça ganhou um programa solo de televisão, 200 Graus, exibido pela Discovery Home & Health.</p>
<p>Em 2017, Fogaça lançou seu primeiro livro, intitulado "Um Chef Hardcore", que trata-se de um relato autobiográfico que mistura momentos de sua vida com 30 receitas assinadas por ele</p>
<p>O Jamile é mais um restaurante do chef Henrique Fogaça. Localizado no bairro do Bixiga, a casa possui três sócios. O chef Fogaça, o empresário Alberto "Turco Louco"Hiar (dono da grife Cavalera) e o publicitário Anuar Tacach.</p>


<iframe width="560" height="315" src="https://www.youtube.com/embed/KVxouVqO-W0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
