<nav class="navbar navbar-light bg-info">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Pergunta Nº03</span>
  </div>
</nav>
<div class="container">
  <img src="https://images.squarespace-cdn.com/content/v1/5dd741b2147a1f704809cc53/1575320281993-1BNBZ8BLQL43GSHLG2UW/fogaca-colher.jpg?format=2500w">
  <p>Foraça já apareceu em quais canais de tv?</p>

  <h4>OPÇÕES:</h4>

  <p routerLink="/incorreta">A)Discorvery Turbo</p>
  <p routerLink="/correta03">B)Discorvery Home e Band</p>
  <p routerLink="/incorreta">C)Sbt</p>
  <p routerlink="/incorreta">D)Record new e CNN</p>
</div>
