<nav class="navbar navbar-light bg-info">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Pergunta Nº02</span>
    </div>
  </nav>
<div class="container">
    <img src="https://imagens3.ne10.uol.com.br/blogsne10/social1/uploads/2020/05/F%C3%A1bio-e-o-seu-restaurante-P%C3%A9-de-Fava-ficaram-famosos-ap%C3%B3s-aparecerem-em-relity.jpg">
    <p>Em que restaurante Jacquin é conhecido pelo meme "Você é a vergonha da profissão!!!"</p>

    <h4>OPÇÕES:</h4>

    <p routerLink="/incorreta">A)Outback</p>
    <p routerLink="/incorreta">B)Fogo de Chão</p>
    <p  routerLink="/correta02">C)Pé de fava</p>
    <p routerlink="/incorreta">D)Esporte bar</p>
</div>
