<nav class="navbar navbar-light bg-info">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Pergunta Nº05</span>
  </div>
</nav>
<div class="container">
  <img src="https://p2.trrsf.com/image/fget/cf/1200/1200/filters:quality(85)/images.terra.com/2018/10/03/chefs-de-cozinha-mulheres.jpg">
  <p>Quem é a nova chef do masterchef Brasil após a saida de Paola?</p>

  <h4>OPÇÕES:</h4>

  <p routerLink="/incorreta">A)Bela Gil</p>
  <p routerLink="/incorreta">B)Alex Atala</p>
  <p routerLink="/incorreta">C)Alex Oliveira</p>
  <p routerLink="/correta05">D)Helena Rizzo</p>
</div>
